# --------------------------------------------------------------------------
#   Enedos environment file.
#   Please add your own values and save the file as `.env`
#   @note: It is wise to avoid using quotes, if at all possible.
#          Strings with spaces also apply here.
#          @example PGID=1000 FAVORITE_GAME=legend of zelda
# --------------------------------------------------------------------------


#   Globals
#
#   Anything that may repeat in several stacks,
#   available for easy copypasta.
# ------------------------------------------------------------

# Group ID (usually 1000)
PGID=

# User ID (usually 1000)
PUID=

# Timezone (@see https://www.php.net/manual/en/timezones.php)
TZ=

# The IP address range on your home network.
# @example 192.168.0.0/16
NETWORK_RANGE=

# A master password (but not our only password).
SUDO_PASSWORD=

# A master email address for registration.
EMAIL_ADDRESS=

# IP address to the NFS server.
NFS_IP=

# Options for connecting to the NFS server.
# @see https://red.ht/3D0BJ6j
NFS_OPTIONS=


#   Regions
#
#   Below are paths to shares on the NFS server.
#   Each share serves a specific function: scratch
#   disc, app data, and media repository.
# ------------------------------------------------------------

COFBILION_PATH=

THINMBAHAD_PATH=


#   Workers
#
#   From here, go into the individual "worker" folders to find
#   another `env.example` file specific to that worker.
# ------------------------------------------------------------
