# --------------------------------------------------------------------------
#   Enedos environment file.
#   Please add your own values and save the file as `.env`
#   @note: It is wise to avoid using quotes, if at all possible.
#          Strings with spaces also apply here.
#          @example PGID=1000 FAVORITE_GAME=legend of zelda
# --------------------------------------------------------------------------

#   Globals
#
#   Anything that may repeat in several stacks,
#   available for easy copypasta.
# ------------------------------------------------------------
# Group ID (usually 1000)
PGID=
PGID_NAS=

# User ID (usually 1000)
PUID=
PUID_NAS=

# Timezone (@see https://www.php.net/manual/en/timezones.php)
TZ=

# The IP address range on your home network.
# @example 192.168.0.0/16
NETWORK_RANGE=

# Master credentials
ROOT_EMAIL=
ROOT_PASSWORD=
ROOT_PATH=
ROOT_USERNAME=

# IPs and Domains
BRAND_COLOR=
DOMAINS=
HOST_IP=
RAEDORVUDH_IP=

# Synology options
NFS_IP=
NFS_OPTIONS=

# VPN options
VPN_OPTIONS=
VPN_PASSWORD=
VPN_PROVIDER_STRING=
VPN_PROVIDER=
VPN_REGION_STRING=
VPN_REGION=
VPN_USERNAME=


#   Gulhír
#
#   Settings related to the Gulhír network, which
#   connects to various services.
# ------------------------------------------------------------
# Gulhir → MinIO
MINIO_PORT_SSL=
MINIO_PORT=

# Gulhir → PostgreSQL
POSGRES_PORT=

# Gulhir → Redis
REDIS_PORT=
REDIS_URL=


#   Regions
#
#   Below are paths to shares on the NFS server.
#   Each share serves a specific function: scratch
#   disc, app data, and media repository.
# ------------------------------------------------------------
COFBILION_PATH=
THINMBAHAD_PATH=
GOGIWNADH_PATH=
SAMNUINTHYNN_PATH=
