# --------------------------------------------------------------------------
#   Pimilor
#   Little Thief
#   @updated 2023-05-10
# --------------------------------------------------------------------------

# Deluge
PIMILOR_DELUGE_PATH=
PIMILOR_DELUGE_PORT_INBOUND=
PIMILOR_DELUGE_PORT_UI=

# Jackett
PIMILOR_JACKETT_PATH=
PIMILOR_JACKETT_PORT=

# Firefox
PIMILOR_FIREFOX_PATH=
PIMILOR_FIREFOX_PORT=
PIMILOR_FIREFOX_PORT_HTTPS=
