# --------------------------------------------------------------------------
#   Pimilor
#   Little Thief
#   @updated 2023-01-25
# --------------------------------------------------------------------------

# Transmission
PIMILOR_TRANSMISSION_PORT=

# YouTube-DL
PIMILOR_YTDL_PORT=

# YouTube-DL database (MongoDB)
PIMILOR_YTDL_DB_PATH=
PIMILOR_YTDL_DB_PORT=
