# --------------------------------------------------------------------------
#   Pimilor
#   Little Thief
#   @updated 2023-05-11
# --------------------------------------------------------------------------

# Transmission
PIMILOR_TRANSMISSION_PATH=
PIMILOR_TRANSMISSION_PORT_INBOUND=
PIMILOR_TRANSMISSION_PORT_UI=
PIMILOR_TRANSMISSION_WEBUI=

# Jackett
PIMILOR_JACKETT_PATH=
PIMILOR_JACKETT_PORT=

# Firefox
PIMILOR_FIREFOX_PATH=
PIMILOR_FIREFOX_PORT=
PIMILOR_FIREFOX_PORT_HTTPS=

# Sonarr
PIMILOR_SONARR_PATH=
PIMILOR_SONARR_PORT=

# Radarr
PIMILOR_RADARR_PATH=
PIMILOR_RADARR_PORT=

# Overseerr
PIMILOR_OVERSEERR_PATH=
PIMILOR_OVERSEERR_PORT=

# YouTube-DL
PIMILOR_YTDL_PATH=
PIMILOR_YTDL_PORT=
