# --------------------------------------------------------------------------
#   Angannondír
#   The Iron Gatekeeper
#   @updated 2025-07-30
# --------------------------------------------------------------------------

# CloudFlare
ANGANNONDIR_CLOUDFLARE_TOKEN=

# DuckDNS
ANGANNONDIR_DUCKDNS_PATH=
ANGANNONDIR_DUCKDNS_TOKEN=
ANGANNONDIR_DUCKDNS_SUBDOMAIN=

# NGINX Proxy Manager
ANGANNONDIR_NPM_DATABASE=
ANGANNONDIR_NPM_PATH=
ANGANNONDIR_NPM_PORT_ADMIN=
ANGANNONDIR_NPM_PORT_FTP=
ANGANNONDIR_NPM_PORT_HTTP=
ANGANNONDIR_NPM_PORT_HTTPS=
