# --------------------------------------------------------------------------
#   Angannondir
#   The Iron Gatekeeper
#   @updated 2023-01-19
# --------------------------------------------------------------------------

# CloudFlare
ANGANNONDIR_CLOUDFLARE_TOKEN=

# MariaDB
ANGANNONDIR_DB_DATABASE=
ANGANNONDIR_DB_PASSWORD=
ANGANNONDIR_DB_PATH=
ANGANNONDIR_DB_USERNAME=

# NGINX Proxy Manager
ANGANNONDIR_NPM_PORT_ADMIN=
ANGANNONDIR_NPM_PORT_FTP=
ANGANNONDIR_NPM_PORT_HTTP=
ANGANNONDIR_NPM_PORT_HTTPS=
