# --------------------------------------------------------------------------
#   Angannondír
#   The Iron Gatekeeper
#   @updated 2024-03-05
# --------------------------------------------------------------------------

# CloudFlare
ANGANNONDIR_CLOUDFLARE_TOKEN=

# DuckDNS
ANGANNONDIR_DUCKDNS_PATH=
ANGANNONDIR_DUCKDNS_TOKEN=
ANGANNONDIR_DUCKDNS_SUBDOMAIN=

# NGINX Proxy Manager
ANGANNONDIR_NPM_DATABASE=
ANGANNONDIR_NPM_PATH=
ANGANNONDIR_NPM_PORT_ADMIN=
ANGANNONDIR_NPM_PORT_FTP=
ANGANNONDIR_NPM_PORT_HTTP=
ANGANNONDIR_NPM_PORT_HTTPS=

# Pihole
ANGANNONDIR_PIHOLE_PATH=
ANGANNONDIR_PIHOLE_PORT=
ANGANNONDIR_PIHOLE_PORT_DNS=
ANGANNONDIR_PIHOLE_PASSWORD=
