# --------------------------------------------------------------------------
#   Perfadaben
#   The Librarian
#   @updated 2024-05-20
# --------------------------------------------------------------------------

# Kavita
PERFADABEN_KAVITA_PATH=
PERFADABEN_KAVITA_PORT=
