# --------------------------------------------------------------------------
#   Perfadaben
#   The Librarian
#   @updated 2024-06-18
# --------------------------------------------------------------------------

# Kavita
PERFADABEN_KAVITA_PATH=
PERFADABEN_KAVITA_PORT=

# Calibre
PERFADABEN_CALIBRE_PASSWORD=
PERFADABEN_CALIBRE_PORT_SERVER=
PERFADABEN_CALIBRE_PORT_SSL=
PERFADABEN_CALIBRE_PORT=
PERFADABEN_CALIBRE_USERNAME=

# Calibre Web
PERFADABEN_CALIBRE_WEB_PATH=
PERFADABEN_CALIBRE_WEB_PORT=
