# --------------------------------------------------------------------------
#   Perfadaben
#   The Librarian
#   @updated 2023-02-14
# --------------------------------------------------------------------------

# Booksonic Air
PERFADABEN_BOOKSONIC_PATH=
PERFADABEN_BOOKSONIC_PORT=
PERFADABEN_BOOKSONIC_URL=

# Calibre
PERFADABEN_CALIBRE_PATH=
PERFADABEN_CALIBRE_PORT=
PERFADABEN_CALIBRE_PORT_ADMIN=
PERFADABEN_CALIBRE_PORT_WEB=

# Lazy Librarian
PERFADABEN_LAZYLIBRARIAN_PATH=
PERFADABEN_LAZYLIBRARIAN_PORT=

# Ubooquity
PERFADABEN_UBOOQUITY_PATH=
PERFADABEN_UBOOQUITY_PORT=
PERFADABEN_UBOOQUITY_PORT_ADMIN=
