# --------------------------------------------------------------------------
#   Comenbýr
#   The Leader of the Faithful
#   @updated 2024-07-24
# --------------------------------------------------------------------------

# DenaliExpos.com (WordPress)
COMENBYR_EXPOS_WORDPRESS_DB_NAME=
COMENBYR_EXPOS_WORDPRESS_PATH=
COMENBYR_EXPOS_WORDPRESS_PORT=

# RoboExpo
COMENBYR_ROBOEXPO_NODE_COMMAND=
COMENBYR_ROBOEXPO_NODE_ENV=
COMENBYR_ROBOEXPO_NODE_PATH=
COMENBYR_ROBOEXPO_NODE_PORT=
COMENBYR_ROBOEXPO_NODE_USER=