# --------------------------------------------------------------------------
#   Comenbýr
#   The Leader of the Faithful
#   @updated 2024-07-24
# --------------------------------------------------------------------------

# Node
COMENBYR_NODE_COMMAND=
COMENBYR_NODE_ENV=
COMENBYR_NODE_PATH=
COMENBYR_NODE_PORT=
COMENBYR_NODE_USER=

