# --------------------------------------------------------------------------
#   Goistor
#   The All-Knower
#   @updated 2024-10-25
# --------------------------------------------------------------------------

# MySQL/MariaDB
GOISTOR_MYSQL_PATH=
GOISTOR_MYSQL_PORT=

# PHPMyAdmin
GOISTOR_PHPMYADMIN_PATH=
GOISTOR_PHPMYADMIN_PORT=
GOISTOR_PHPMYADMIN_USERNAME=
GOISTOR_PHPMYADMIN_PASSWORD=

# Postgres
GOISTOR_POSTGRES_PATH=
GOISTOR_POSTGRES_PORT=

# Postgres Admin
GOISTOR_POSTGRES_ADMIN_PATH=
GOISTOR_POSTGRES_ADMIN_PORT=

# Redis
GOISTOR_REDIS_PATH=
GOISTOR_REDIS_PORT=

# Minio
GOISTOR_MINIO_BUCKET=
GOISTOR_MINIO_PASSWORD=
GOISTOR_MINIO_USERNAME=