# --------------------------------------------------------------------------
#   Goistor
#   The All-Knower
#   @updated 2023-06-06
# --------------------------------------------------------------------------

# MariaDB
GOISTOR_DB_DATABASE=
GOISTOR_DB_PASSWORD=
GOISTOR_DB_PATH=
GOISTOR_DB_PORT=
GOISTOR_DB_USERNAME=

# PHPMyAdmin
GOISTOR_PHPMYADMIN_PATH=
GOISTOR_PHPMYADMIN_PORT=
GOISTOR_PHPMYADMIN_USERNAME=
GOISTOR_PHPMYADMIN_PASSWORD=

# Monica
GOISTOR_MONICA_APPKEY=
GOISTOR_MONICA_DB_NAME=
GOISTOR_MONICA_PATH=
GOISTOR_MONICA_PORT=
