# --------------------------------------------------------------------------
#   Goistor
#   The All-Knower
#   @updated 2025-07-28
# --------------------------------------------------------------------------

# MySQL/MariaDB
GOISTOR_MYSQL_PATH=

# PHPMyAdmin
GOISTOR_PHPMYADMIN_PATH=
GOISTOR_PHPMYADMIN_PORT=
GOISTOR_PHPMYADMIN_USERNAME=
GOISTOR_PHPMYADMIN_PASSWORD=

# Postgres
GOISTOR_POSTGRES_PATH=

# Postgres Admin
GOISTOR_POSTGRES_ADMIN_PATH=
GOISTOR_POSTGRES_ADMIN_PORT=

# Redis
GOISTOR_REDIS_PATH=
