# --------------------------------------------------------------------------
#   Lavanoveren
#   Party Animal
#   @updated 2023-11-04
# --------------------------------------------------------------------------

# Minecraft
LAVANOVEREN_MINECRAFT_CURSEFORGE_API=
LAVANOVEREN_MINECRAFT_LEVEL_NAME=
LAVANOVEREN_MINECRAFT_MOTD=
LAVANOVEREN_MINECRAFT_PATH=
LAVANOVEREN_MINECRAFT_PORT=
LAVANOVEREN_MINECRAFT_SERVER_NAME=

# FoundryVTT
LAVANOVEREN_FOUNDRYVTT_HOSTNAME=
LAVANOVEREN_FOUNDRYVTT_KEY=
LAVANOVEREN_FOUNDRYVTT_PASSWORD=
LAVANOVEREN_FOUNDRYVTT_PATH=
LAVANOVEREN_FOUNDRYVTT_PORT=
LAVANOVEREN_FOUNDRYVTT_USERNAME=
