# --------------------------------------------------------------------------
#   Lavanoveren
#   Party Animal
#   @updated 2025-08-13
# --------------------------------------------------------------------------

# Crafty
LAVANOVEREN_CRAFTY_PATH=
LAVANOVEREN_CRAFTY_PORT_BEDROCK=
LAVANOVEREN_CRAFTY_PORT_JAVA_RANGE=
LAVANOVEREN_CRAFTY_PORT_SOCKET=
LAVANOVEREN_CRAFTY_PORT_UI=
LAVANOVEREN_CRAFTY_URL=

# FoundryVTT
LAVANOVEREN_FOUNDRYVTT_HOSTNAME=
LAVANOVEREN_FOUNDRYVTT_KEY=
LAVANOVEREN_FOUNDRYVTT_PASSWORD=
LAVANOVEREN_FOUNDRYVTT_PATH=
LAVANOVEREN_FOUNDRYVTT_PORT=
LAVANOVEREN_FOUNDRYVTT_URL=
LAVANOVEREN_FOUNDRYVTT_USERNAME=

# Gaseous
LAVANOVEREN_GASEOUS_CLIENT_ID=
LAVANOVEREN_GASEOUS_CLIENT_SECRET=
LAVANOVEREN_GASEOUS_PATH=
LAVANOVEREN_GASEOUS_PORT=
LAVANOVEREN_GASEOUS_URL=