# --------------------------------------------------------------------------
#   Lavanoveren
#   Party Animal
#   @updated 2023-05-10
# --------------------------------------------------------------------------

# Minecraft
LAVANOVEREN_MINECRAFT_LEVEL_NAME=
LAVANOVEREN_MINECRAFT_MOTD=
LAVANOVEREN_MINECRAFT_PASSSWORD=
LAVANOVEREN_MINECRAFT_PATH=
LAVANOVEREN_MINECRAFT_PORT=

# FoundryVTT
LAVANOVEREN_FOUNDRYVTT_HOSTNAME=
LAVANOVEREN_FOUNDRYVTT_KEY=
LAVANOVEREN_FOUNDRYVTT_PASSWORD=
LAVANOVEREN_FOUNDRYVTT_PATH=
LAVANOVEREN_FOUNDRYVTT_PORT=
LAVANOVEREN_FOUNDRYVTT_USERNAME=

# EmulatorJS
LAVANOVEREN_EMULATORJS_PATH=
LAVANOVEREN_EMULATORJS_PORT_PEER=
LAVANOVEREN_EMULATORJS_PORT_ROM=
LAVANOVEREN_EMULATORJS_PORT_UI=
