# --------------------------------------------------------------------------
#   Celebwain
#   New Silver
#   @updated 2023-10-30
# --------------------------------------------------------------------------

# Firefly III
CELEBWAIN_FIREFLYIII_PORT=
CELEBWAIN_FIREFLYIII_PATH=
CELEBWAIN_FIREFLYIII_DATABASE=

# Nano Wallet
CELEBWAIN_NANO_WALLET_PORT=
