# --------------------------------------------------------------------------
#   Celebwain
#   New Silver
#   @updated 2023-11-06
# --------------------------------------------------------------------------

# Firefly III
CELEBWAIN_FIREFLYIII_ACCESS_TOKEN=
CELEBWAIN_FIREFLYIII_APP_KEY=
CELEBWAIN_FIREFLYIII_CLIENT_ID=
CELEBWAIN_FIREFLYIII_DATABASE=
CELEBWAIN_FIREFLYIII_PATH=
CELEBWAIN_FIREFLYIII_PORT=
CELEBWAIN_FIREFLYIII_SECRET_KEY=
CELEBWAIN_FIREFLYIII_URL=

# Nano Wallet
CELEBWAIN_NANO_WALLET_PORT=
