# --------------------------------------------------------------------------
#   Celebwain
#   New Silver
#   @updated 2025-09-24
# --------------------------------------------------------------------------

# Firefly III
CELEBWAIN_FIREFLY_DATABASE=
CELEBWAIN_FIREFLY_KEY=
CELEBWAIN_FIREFLY_PATH=
CELEBWAIN_FIREFLY_PORT=
CELEBWAIN_FIREFLY_TOKEN=
CELEBWAIN_FIREFLY_URL=

# Paperless NGX
CELEBWAIN_PAPERLESS_PATH=
CELEBWAIN_PAPERLESS_PORT=
CELEBWAIN_PAPERLESS_SECRET_KEY=
CELEBWAIN_PAPERLESS_URL=