@charset "UTF-8";

@import "//cloud.typography.com/7455494/7805632/css/fonts.css";


$black: #141F1D;


$gotham: "Gotham A", "Gotham B";


// body h2.group-title {
//   font-family: "Gotham A", "Gotham B";
//   font-style: normal;
//   font-weight: 800;
// }



/**
 *    Masthead
 * -------------------------------------------------- */

#bighead {
	.first-line {
		.logo img {}
		.dashboard-title {
			h1,
			span {
				color: $black;
				font-family: $gotham;
				font-style: normal;
			}
			h1 {
				font-size: 2.4rem;
				font-weight: 600;
			}
			span.headline {
				font-size: 1rem;
				font-weight: 400;
			}
		}
	}
}
