# --------------------------------------------------------------------------
#   Tolodbothír
#   Lord of the Eight-Footed
#   @updated 2023-01-28
# --------------------------------------------------------------------------

# Octoprint
TOLODBOTHIR_OCTOPRINT_PATH=
TOLODBOTHIR_OCTOPRINT_PORT=
