# --------------------------------------------------------------------------
#   Tolodbothir
#   Master of the Eight-Legs
#   @updated 2023-06-02
# --------------------------------------------------------------------------

# Octoprint
TOLODBOTHIR_OCTOPRINT_PATH=
TOLODBOTHIR_OCTOPRINT_PORT=
