# --------------------------------------------------------------------------
#   Lochuil
#   Warm Winds
#   @updated 2024-09-11
# --------------------------------------------------------------------------

# Homarr
LOCHUIL_HOMARR_PATH=
LOCHUIL_HOMARR_PORT=

# Homarr (Admin)
LOCHUIL_HOMARR_ADMIN_PATH=
LOCHUIL_HOMARR_ADMIN_PORT=
