# --------------------------------------------------------------------------
#   Lochuil
#   Warm Winds
#   @updated 2025-08-13
# --------------------------------------------------------------------------

# HOMEPAGE
LOCHUIL_HOMEPAGE_PATH=
LOCHUIL_HOMEPAGE_PORT=

# HOMEPAGE (Admin)
LOCHUIL_HOMEPAGE_ADMIN_PATH=
LOCHUIL_HOMEPAGE_ADMIN_PORT=
