# --------------------------------------------------------------------------
#   Lochuil
#   Warm Winds
#   @updated 2023-01-20
# --------------------------------------------------------------------------

# Homer
LOCHUIL_HOMER_PORT=
LOCHUIL_HOMER_PORT_ADMIN=

# VS Code
LOCHUIL_VSCODE_PORT=
LOCHUIL_VSCODE_URL=
LOCHUIL_VSCODE_WORKSPACE=
