# --------------------------------------------------------------------------
#   Aesordur
#   Master Chef
#   @updated 2023-01-21
# --------------------------------------------------------------------------

# Mealie
AESORDUR_MEALIE_PATH=
AESORDUR_MEALIE_PORT=
