# --------------------------------------------------------------------------
#   Nethiadil
#   The Entertainer
#   @updated 2023-11-06
# --------------------------------------------------------------------------

# Plex Media Server
NETHIADIL_PLEX_CLAIM=
NETHIADIL_PLEX_PATH=
NETHIADIL_PLEX_PORT=

# Tautulli
NETHIADIL_TAUTULLI_PATH=
NETHIADIL_TAUTULLI_PORT=

# Plex Meta Manager
NETHIADIL_PMM_PATH=
NETHIADIL_PMM_UPDATE_TIME=
NETHIADIL_PMM_CONFIG_FILE=

# ErsatzTV
NETHIADIL_ERSATZTV_PATH=
NETHIADIL_ERSATZTV_PORT=

# Navidrome
NETHIADIL_NAVIDROME_PATH=
NETHIADIL_NAVIDROME_PORT=
NETHIADIL_NAVIDROME_URL=
NETHIADIL_NAVIDROME_WELCOME=
