# --------------------------------------------------------------------------
#   Nethiadil
#   The Entertainer
#   @updated 2023-01-28
# --------------------------------------------------------------------------

# Plex Media Server
NETHIADIL_PLEX_CLAIM=
NETHIADIL_PLEX_PORT=

# Ombi
NETHIADIL_OMBI_PORT=

# Tautulli
NETHIADIL_TAUTULLI_PORT=

# Plex Meta Manager
NETHIADIL_PMM_PATH=
