# --------------------------------------------------------------------------
#   Tolodbothúr
#   Master of the Eight-Legged Beast
#   @updated 2024-09-24
# --------------------------------------------------------------------------

# ManyFold
TOLODBOTHUR_MANYFOLD_DATABASE_NAME=
TOLODBOTHUR_MANYFOLD_PATH=
TOLODBOTHUR_MANYFOLD_PORT=
TOLODBOTHUR_MANYFOLD_SECRET=

# Octoprint
TOLODBOTHUR_OCTOPRINT_PATH=
TOLODBOTHUR_OCTOPRINT_PORT=


# ManyFold
TOLODBOTHUR_MANYFOLD_DATABASE_NAME=tolodbothur_manyfold
TOLODBOTHUR_MANYFOLD_PATH=/home/herupa/enedos/tolodbothur/manyfold
TOLODBOTHUR_MANYFOLD_PORT=61812
TOLODBOTHUR_MANYFOLD_SECRET=RzeYskQZapV7TFjBvW9Ax58MCtKSXG

# Octoprint
TOLODBOTHUR_OCTOPRINT_PATH=/home/herupa/enedos/tolodbothur/octoprint
TOLODBOTHUR_OCTOPRINT_PORT=30368