# --------------------------------------------------------------------------
#   Tolodbothúr
#   Master of the Eight-Legged Beast
#   @updated 2025-09-22
# --------------------------------------------------------------------------

# ManyFold
TOLODBOTHUR_MANYFOLD_DATABASE_NAME=
TOLODBOTHUR_MANYFOLD_PATH=
TOLODBOTHUR_MANYFOLD_PORT=
TOLODBOTHUR_MANYFOLD_SECRET=
TOLODBOTHUR_MANYFOLD_URL=
