# --------------------------------------------------------------------------
#   Bavronalad
#   Shephard of Light
#   @updated 2025-08-13
# --------------------------------------------------------------------------

# Photoview
BAVRONALAD_PHOTOVIEW_DATABASE_NAME=
BAVRONALAD_PHOTOVIEW_PATH=
BAVRONALAD_PHOTOVIEW_PORT=