# --------------------------------------------------------------------------
#   Bavronalad
#   Shephard of Light
#   @updated 2023-11-06
# --------------------------------------------------------------------------

# PhotoPrism
BAVRONALAD_PHOTOPRISM_DATABASE=
BAVRONALAD_PHOTOPRISM_PASSWORD=
BAVRONALAD_PHOTOPRISM_PATH=
BAVRONALAD_PHOTOPRISM_PORT=
BAVRONALAD_PHOTOPRISM_URL=
BAVRONALAD_PHOTOPRISM_USERNAME=
