# --------------------------------------------------------------------------
#   Bavronalad
#   Light shephard
#   @updated 2023-05-27
# --------------------------------------------------------------------------

# PhotoPrism
BAVRONALAD_PHOTOPRISM_PATH=
BAVRONALAD_PHOTOPRISM_USERNAME=
BAVRONALAD_PHOTOPRISM_PASSWORD=
BAVRONALAD_PHOTOPRISM_URL=
BAVRONALAD_PHOTOPRISM_PORT=

# PhotoPrism database
BAVRONALAD_MYSQL_DATABASE=
BAVRONALAD_MYSQL_USERNAME=
BAVRONALAD_MYSQL_PASSWORD=
