# --------------------------------------------------------------------------
#   Erebithron
#   The Lonely Wizard
#   @updated 2023-02-04
# --------------------------------------------------------------------------

# Gitea
EREBITHRON_GITEA_DB_DATABASE=
EREBITHRON_GITEA_DB_USERNAME=
EREBITHRON_GITEA_DB_PASSWORD=
EREBITHRON_GITEA_PORT=
EREBITHRON_GITEA_PORT_SSL=
EREBITHRON_GITEA_PATH=

# Hedgedoc
EREBITHRON_HEDGEDOC_DB_DATABASE=
EREBITHRON_HEDGEDOC_DB_USERNAME=
EREBITHRON_HEDGEDOC_DB_PASSWORD=
EREBITHRON_HEDGEDOC_PATH=
EREBITHRON_HEDGEDOC_PORT=

# Snippet Box
EREBITHRON_SNIPPET_PATH=
EREBITHRON_SNIPPET_PORT=
